body{
  align-items: center;
  background: #2e3141;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 90vh;
}

section {
  align-items: center;
  text-align: center;
  position: relative;
  justify-content: center;
  display: flex;
}

.container {
  width: 300px;
  height: 400px;
  background: #353849;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 22px rgba(0, 0, 0, 0.09);
  margin: 20px;
  justify-content: center;
  display: flex;
}

.container .imgBox img {
  border-radius: 100px;
  border: 10px solid rgba(0,0,0,0.25);
  width: 130px;
  height: 130px;
}

.container .text {
  text-align: center;
}

.container .media .fa-twitter{
  color: white;
  text-decoration: none;
  margin: 5px 2px;
  width: 40px;
  text-align: center;
  font-size: 25px;
  padding: 5px 5px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}

.container .media .fa-instagram{
  color: white;
  text-decoration: none;
  margin: 5px 2px;
  width: 40px;
  text-align: center;
  font-size: 25px;
  padding: 5px 5px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}

.container .media .fa-twitter:hover{
  background-color: #00aced;
  border-radius: 5px;
}

.container .media .fa-instagram:hover{
  background-color: #d6249f;
  border-radius: 5px;
  /* background-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
}

footer {
  background-color: #353849;
  color: #EEE;
  padding: 20px;
  left: 0;
  width: 100%;
  bottom: 0;
  position: fixed;
  text-align: center;
}

.content .footer-color a {
  border: 1px solid #FFF(255, 255, 255, 0.125);
  color: #FFF;
  outline: none;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 6px;
  transition: 0.3s all;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
}

.content .footer-color a:hover {
  transition: 0.3s all;
  background-color: #fff;
} 